# Ignore all the file types below.
*.dwf3work
*.pkl
*.png
*.csv
.code-workspace

# Ignore all the directories below.
swimAD2/
figures/
.ipynb_checkpoints/
_pycache_/
result/

# Ignore all the specific files below. 
Characteristic_ChuaD.dwf3work
Metrology\inverting_amp.pkl
swimAD2.py
Report_2\Lyapunov.ipynb