# Ignore all the file types below.
.dwf3work
*.pkl
*.png
*.code-workspace
*.pyc

# Ignore all the directories below.
swimAD2/
figures/
.ipynb_checkpoints/
Report_2/_pycache_/
_pycache_/
result/
Report_2/collected_data/

# Ignore all the specific files below. 
Characteristic_ChuaD.dwf3work
Metrology\inverting_amp.pkl
swimAD2.py